@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.push-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
.welcome-title{
    animation: fadeIn 2s ease-in-out;
}